{% extends "compradoresApp/base.html" %}
{% block title %}Notificaciones{% endblock %}
{% block content %}
<h2>Notificaciones</h2>

{% if notifications %}
  <ul class="notifs">
    {% for n in notifications %}
      <li class="{% if not n.read %}unread{% endif %}">
        <div class="n-top">
          <strong>{{ n.message }}</strong>
          <span class="time small">{{ n.created_at|date:"SHORT_DATETIME_FORMAT" }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No tienes notificaciones.</p>
{% endif %}
{% endblock %}
