{% extends 'base.html' %}
{% load static %}
{% block title %}Registro de Artesano{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h2>Registro de Artesano</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="Crea tu nombre de usuario" required>
            </div>

            <div class="input-group">
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="email" placeholder="Ingresa tu correo electrónico" required>
            </div>

            <div class="input-group">
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" placeholder="Crea una contraseña segura" required>
            </div>

            <button type="submit" class="btn">Registrarse</button>
        </form>

        <p class="redirect-text">
            ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
        </p>
    </div>
</div>
{% endblock %}
